#### Data Spliting
Here we will do operation only on february data, the data source is mentioned in readme.md

we need basically two dataset (source and destination) form this single dataset with all the necessary columns

then each dataset will be merged with airport.csv based on primary key( for source data its source column, and for destination data its destination column) data that we can convert source (that is a code for airport name) into real name and also get the city and country name

doing splitting other month data also can be done with the same code, only change will be the reading different csv file

for convinience I will upload the csv file on my drive (as on github more than 100 MB cannot be uploaded)

In [1]:
import pandas as pd
import time

In [2]:
%%time
data = pd.DataFrame(pd.read_csv("feb.csv"))

Wall time: 5.46 s

In [3]:
data.head()

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,CSN495,CZ495,781941,NaN,NaN,KLAX,EHAM,2021-01-31 00:05:56+00:00,2021-02-01 05:51:26+00:00,2021-02-01 00:00:00+00:00,33.933792,-118.417427,0.0,52.290779,4.741464,160.02
1,ABW713,NaN,424467,NaN,NaN,UUEE,LEZG,2021-01-31 01:02:37+00:00,2021-02-01 05:39:24+00:00,2021-02-01 00:00:00+00:00,55.958267,37.343445,914.4,41.660901,-1.021026,266.70
2,AZV536,NaN,42445d,NaN,NaN,UUWW,UUWW,2021-01-31 02:40:13+00:00,2021-02-01 08:12:46+00:00,2021-02-01 00:00:00+00:00,55.605670,37.326736,609.6,55.656459,37.311115,556.26
3,CKS538,K4538,a96b14,N706CK,B744,KMIA,KMIA,2021-01-31 03:26:47+00:00,2021-02-01 01:19:19+00:00,2021-02-01 00:00:00+00:00,25.788124,-80.269274,0.0,25.785285,-80.333690,11155.68
4,LCO1100,UC1100,a6cf20,N538LA,NaN,KMIA,KMIA,2021-01-31 04:06:06+00:00,2021-02-01 03:55:40+00:00,2021-02-01 00:00:00+00:00,25.787566,-80.275493,0.0,25.785424,-80.330114,106.68

In [4]:
data.shape

(1617845, 16)

In [5]:
data.columns

Index(['callsign', 'number', 'icao24', 'registration', 'typecode', 'origin',
       'destination', 'firstseen', 'lastseen', 'day', 'latitude_1',
       'longitude_1', 'altitude_1', 'latitude_2', 'longitude_2', 'altitude_2'],
      dtype='object')

#### Removing hour, minute etc from day columns

In [11]:
def date_format(x):
    return x.split()[0]

In [12]:
%%time
data["day"] = data["day"].apply(date_format)
data.head()

Wall time: 524 ms

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,CSN495,CZ495,781941,NaN,NaN,KLAX,EHAM,2021-01-31 00:05:56+00:00,2021-02-01 05:51:26+00:00,2021-02-01,33.933792,-118.417427,0.0,52.290779,4.741464,160.02
1,ABW713,NaN,424467,NaN,NaN,UUEE,LEZG,2021-01-31 01:02:37+00:00,2021-02-01 05:39:24+00:00,2021-02-01,55.958267,37.343445,914.4,41.660901,-1.021026,266.70
2,AZV536,NaN,42445d,NaN,NaN,UUWW,UUWW,2021-01-31 02:40:13+00:00,2021-02-01 08:12:46+00:00,2021-02-01,55.605670,37.326736,609.6,55.656459,37.311115,556.26
3,CKS538,K4538,a96b14,N706CK,B744,KMIA,KMIA,2021-01-31 03:26:47+00:00,2021-02-01 01:19:19+00:00,2021-02-01,25.788124,-80.269274,0.0,25.785285,-80.333690,11155.68
4,LCO1100,UC1100,a6cf20,N538LA,NaN,KMIA,KMIA,2021-01-31 04:06:06+00:00,2021-02-01 03:55:40+00:00,2021-02-01,25.787566,-80.275493,0.0,25.785424,-80.330114,106.68

In [13]:
%%time
datas = data[[ 'origin','day', 'latitude_1', 'longitude_1']]
datad = data[['destination', 'day', 'latitude_2', 'longitude_2']]

#keeping only necessary columns

Wall time: 165 ms

In [14]:
%%time
datas.to_csv("source.csv", index = False)
datad.to_csv("destination.csv", index = False)

#saving the data to a csv file and index = False so that it not create any columns based on row number

Wall time: 15.3 s

#### After spliting the data the source and destination data is uploaded on google drive 
https://drive.google.com/drive/folders/1KkoWX4BcvkwGCH7oR0L938qnIaNTba1l?usp=sharing

For providing the data the credits goes to opensky Network[1], Xavier Olive[2] and OpenFlights[3]

Reference
- [1] Matthias Schäfer, Martin Strohmeier, Vincent Lenders, Ivan Martinovic and Matthias Wilhelm.
"Bringing Up OpenSky: A Large-scale ADS-B Sensor Network for Research".
In Proceedings of the 13th IEEE/ACM International Symposium on Information Processing in Sensor Networks (IPSN), pages 83-94, April 2014.

- [2] "traffic, a toolbox for processing and analysing air traffic data."
Journal of Open Source Software 4(39), July 2019.

- [3] https://openflights.org/data.html